<div class="content-ss">
    <div class="title">So sánh dữ liệu {{data.thietbi?data.thietbi.tenTB:'chưa chọn'}}</div>
    <div nz-row >
        <div  nz-col [nzSpan]="12" >
            <div class="title-table">Dữ liệu PMIS</div>
            <div #tb1 (scroll)="onScroll1($event)" class="table">
            <nz-table #rowSelectionTable1 [nzFrontPagination]="false" nzShowSizeChanger [nzData]="listOfDataPmis" [nzShowPagination]="false" >
                <thead>
                    <tr>
                      <th [nzChecked]="checked" (nzCheckedChange)="onAllChecked($event)"></th>
                      <th>ID</th>
                      <th>Age</th>
                      <th>Address</th>
                      <th>Address</th>
                      <th>Address</th>
                      <th>Address</th>
                      <th>Address</th>
                      <th>Address</th>
                      <th>Address</th>
                      <th>Address</th>
                      <th>Address</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let data of rowSelectionTable1.data">
                      <td [nzChecked]="setOfCheckedId.has(data.id)" (nzCheckedChange)="onItemChecked(data.id, $event)"></td>
                      <td>{{data.id}}</td>
                      <td>1</td>
                      <td>1</td>
                      <td>1</td>
                      <td>1fdddddddddđ</td>
                      <td>1fdddddddddddddđ</td>
                      <td>1fddddddddddddddddddddddddddddddđ</td>
                      <td>1fdddddddddddddddđ</td>
                      <td>1</td>
                      <td>1</td>
                      <td>1</td>
                    </tr>
                  </tbody>
              </nz-table>
            </div>
        </div>
        <div nz-col  [nzSpan]="12" >
            <div class="title-table">Dữ liệu GIS {{data?data.donvi.tenDV:'chưa chọn'}}</div>
            <div #tb2   (scroll)="onScroll2($event)" class="table">
            <nz-table #rowSelectionTable2 [nzFrontPagination]="false" [nzData]="listOfDataGis" [nzShowPagination]="false" >
                <thead>
                  <tr  >
                    <th [nzChecked]="checked"  [nzDisabled]="true"></th>
                    <th>ID</th>
                    <th>Age</th>
                    <th>Address</th>
                    <th>Address</th>
                    <th>Address</th>
                    <th>Address</th>
                    <th>Address</th>
                    <th>Address</th>
                    <th>Address</th>
                    <th>Address</th>
                    <th>Address</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data of rowSelectionTable2.data">
                    <td [nzChecked]="setOfCheckedId.has(data.id)"   [nzDisabled]="true"></td>
                    <td>{{data.id}}</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1fdddddddddđ</td>
                    <td>1fdddddddddddddđ</td>
                    <td>1fddddddddddddddddddddddddddddddđ</td>
                    <td>1fdddddddddddddddđ</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                  </tr>
                </tbody>
              </nz-table>
            </div>
        </div>
    </div>
    <div class="row-button">
        <button nz-button nzType="dashed" nz-size="large" (click)="onSubmit('huy')"  nzShape="round" >Trở về</button>
        <button nz-button nzType="primary" nz-size="large" (click)="onSubmit('ok')"  nzShape="round" >Chọn dữ liệu</button>
    </div>
    
</div>
