.content{
    padding: 30px;
    background-color: rgb(21, 104, 177);
    width: 100%;
    height: 100vh;
    
}
.a{
    margin-right: 30px;
    border-radius: 10px;
    background-color: rgb(243, 243, 243);
    width: 100%;
    height: 100%;
}
.steps-content {
    margin-top: 10px;
    border: 1px dashed #e9e9e9;
    border-radius: 6px;
    background-color: #fafafa;
    min-height: 90%;
    text-align: center;
    padding-top: 30px;
}