

<app-create-room (taoThanhCong)="loadRoom()" [list]="allUser"></app-create-room>

  <div nz-row>
    <div nz-col [nzSpan]="18" [nzPush]="6">
      <app-chat-box [idRoom]="idRoomSelected" [usersDetail]="allUser" [myInfor]="myInfor" ></app-chat-box>
    </div>
    <div nz-col [nzSpan]="6" [nzPull]="18">
      <div style="margin-left: 20px;">
        <div class="px-4 d-none d-md-block">
          <div class="d-flex align-items-center">
            <div class="flex-grow-1">
              <input type="text" class="form-control my-3" placeholder="Search...">
            </div>
          </div>
        </div>

        <a (click)="selectRoom(item.id)" style="margin-bottom: 20px;" class="list-group-item list-group-item-action border-0" *ngFor="let item of listRoom">
      <!-- <div class="badge bg-success float-right">5</div> -->
      <div class="d-flex align-items-start">
        <img src="https://bootdey.com/img/Content/avatar/avatar5.png" class="rounded-circle mr-1" alt="Vanessa Tucker" width="40" height="40" style="margin-right: 20px;">
        <div class="flex-grow-1 ml-3">
          {{item.roomName}}
          <div class="small"><span class="fas fa-circle chat-online"></span> Online</div>
        </div>
      </div>
        </a>
        <hr class="d-block d-lg-none mt-1 mb-0">
      </div>
    </div>
  </div>
