

<app-create-room (taoThanhCong)="loadRoom()" [list]="allUser"></app-create-room>
<div nz-row>
    <div nz-col nzFlex="1">
      <app-room-box [allUser]="allUser" [listRoom]="listRoom" (clickRoom)="selectRoom($event)"></app-room-box>
    </div>
    <div nz-col nzFlex="6">
      <app-chat-box [idRoom]="idRoomSelected" [usersDetail]="allUser" [myInfor]="myInfor"></app-chat-box>
    </div>
</div>
<div nz-row>
  <div nz-col nzFlex="6">
    <video #local_video [autoplay]="true" [muted]="true"></video>
    <button nz-button nzType="primary"  (click)="StartLocalDevice()">START</button>
    <button nz-button nzType="primary" nzDanger (click)="pauLocalvideo()">STOP</button>
  </div>
  <div nz-col nzFlex="6">
    <video #received_video [autoplay]="true"></video>
  </div>
</div>
