
<div>
    <button nz-button nzType="primary" nzSize="large" nzShape="round" (click)="showModal()" >Create Room</button>
</div>
<nz-modal [(nzVisible)]="isVisible" nzTitle="The first Modal" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
      <ng-container *nzModalContent>
        <form nz-form [nzLayout]="'inline'" [formGroup]="validateForm" (ngSubmit)="submitForm()">
            <nz-form-item>
              <nz-form-control nzErrorTip="Please input your Room">
                <nz-input-group nzPrefixIcon="user">
                  <input formControlName="roomName" nz-input placeholder="Name Room" />
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>

            <nz-form-item>
              <nz-form-control nzErrorTip="Please input your Room">
                <nz-input-group nzPrefixIcon="user">
                  <nz-select nzMode="multiple" nzPlaceHolder="Inserted are removed" formControlName="listUser" style="width: 200px;">
                    <nz-option *ngFor="let option of list" [nzLabel]="option.userName" [nzValue]="option"></nz-option>
                  </nz-select>
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
          
            <nz-form-item>
              <nz-form-control>
                <button nz-button nzType="primary" [disabled]="!validateForm.valid" (click)="createRoom()">Create</button>
              </nz-form-control>
            </nz-form-item>
          </form>

      </ng-container>
</nz-modal>

