
<main class="content" *ngIf="roomDetail">
  <div class="container p-0">
  <div class="card">
    <div class="row g-0">
      <div class="col-12 col-lg-7 col-xl-9">
        <div class="py-2 px-4 border-bottom d-none d-lg-block">
          <div class="d-flex align-items-center py-1">
            <div class="position-relative" style="margin-right: 20px;">
              <nz-avatar-group *ngIf="roomDetail.listIdUser&&roomDetail.listIdUser.length>2">
                <nz-avatar *ngFor="let item of roomDetail.listIdUser" 
                nzIcon="user" [nzSrc]="getAvatar(item)?getAvatar(item):'https://bootdey.com/img/Content/avatar/avatar1.png'"
                nzTooltipTitle="item"
                ></nz-avatar>
              </nz-avatar-group>
              <img *ngIf="roomDetail.listIdUser&&roomDetail.listIdUser.length<=2" [src]="getAvatar(roomDetail.listIdUser[0])?getAvatar(roomDetail.listIdUser[0]):'https://bootdey.com/img/Content/avatar/avatar1.png'" class="rounded-circle mr-1" alt="Sharon Lessman" width="40" height="40">
            </div>
            <div class="flex-grow-1 pl-3">
              <strong>{{roomDetail.roomName}}</strong>
              <div class="text-muted small"><em>{{roomDetail.listUser|json}}</em></div>
            </div>
            <div>
              <button class="btn btn-light border btn-lg px-3"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-horizontal feather-lg"><circle cx="12" cy="12" r="1"></circle><circle cx="19" cy="12" r="1"></circle><circle cx="5" cy="12" r="1"></circle></svg></button>
            </div>
          </div>
        </div>

        
        <div class="position-relative">
          <div class="chat-messages p-4" style="height: 500px;" id="chat" #content1 
          (scroll)="onScroll($event)" 
          >
            <div style="margin: auto;" *ngIf="loading">
              <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
            </div>
          <div *ngFor="let item of data">
            <div class="chat-message-right pb-4" *ngIf="this.myInfor.userName==item.userName">
              <div>
                <img [src]="getAvatar(item.userId)?getAvatar(item.userId):'https://bootdey.com/img/Content/avatar/avatar1.png'" class="rounded-circle mr-1" alt="Chris Wood" width="40" height="40">
              </div>
              <div class="flex-shrink-1 rounded py-2 px-3 mr-3" style="margin-right: 10px;max-width: 60%; background-color: #00bfff;">
                <div *ngIf="item.image"><img nz-image style="max-width: 400px;"  nzSrc={{item.image}} alt=""></div>
               {{ item.content }}
              </div>
            </div>

             <div class="chat-message-left pb-4" *ngIf="this.myInfor.userName!=item.userName">
              <div [style]="item.userName?'margin-top: 20px':''">
                <img [src]="getAvatar(item.userId)?getAvatar(item.userId):'https://bootdey.com/img/Content/avatar/avatar1.png'" class="rounded-circle mr-1" alt="Sharon Lessman" width="40" height="40">
              </div>
              <div class="flex-shrink-1 "  style="margin-left: 10px;max-width: 60%;" >
                <div class="text-muted small" style="margin-left: 10px;">{{item.userName}}</div>
                <div class="flex-shrink-1 bg-light rounded py-2 px-3 ml-3"  >
                    <div  *ngIf="item.image"><img nz-image style="max-width: 400px;"  nzSrc={{item.image}} alt=""></div>
                  {{ item.content }}
                </div>
              </div>
            </div>

          </div>

          </div>
        </div>



        <div class="flex-grow-0 py-3 px-4 border-top">
          <div class="input-group">
                      
<form nz-form [nzLayout]="'inline'" [formGroup]="validateForm" (ngSubmit)="submitForm()">
      <nz-form-item>
        <nz-form-control nzErrorTip="Please input your Room" style="width: 700px;">
          <nz-input-group nzPrefixIcon="user">
          
            <input formControlName="content" nz-input type="text" class="form-control" placeholder="Type your message" width="100%">
          </nz-input-group>
          <nz-input-group nzPrefixIcon="user">
            <!-- <input formControlName="image" (change)="OnChangeFile($event)"  type="file" > -->
           
            <input type="file" id="upload" formControlName="image" (change)="OnChangeFile($event)" hidden/>
            <label for="upload" *ngIf="!fileImage">Choose file</label>
            <div *ngIf="fileImage" style=" margin-left: 50px; margin-top: 20px;">
              <img src={{imageURL}} width="300px" alt="" >
            </div>
           
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      
      
      <nz-form-item>
        <nz-form-control>
          <!-- <button nz-button nzType="primary" (click)="send()">Send</button> -->
          <button nz-button nzType="primary" (click)="send()" class="btn btn-primary">Send</button>
        </nz-form-control>
      </nz-form-item>
</form> 
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
</main>